<div class="ui secondary top menu">
  <a class="item">Financial App Manager</a>
  <a class="item" routerLink="/user/home" routerLinkActive="active">
    <i class="icon shopping bag"></i> Inicio</a>
  <a class="item" routerLink="/user/wallets" routerLinkActive="active">
    <i class="icon shopping bag
    "></i> Carteiras</a>
  <a class="item">Suporte</a>
  <a class="item">Sujerir</a>
  <div class="right menu">
    <a class="item" (click)="sair()">
      <i class="icon power off"></i>
      Sair</a>
  </div>
</div>