.drawer {
  width: 300px;
  border: none;
  box-shadow: -14px -10px 20px 0px black;
}

.icon {
  padding: 0 14px;
}

.spacer {
  flex: 1 1 auto;
}
.mat-toolbar-multiple-rows {
  min-height: 53px;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  height: 53px;
}
.mat-toolbar{
  height: 53px!important;
  
}
.mat-toolbar-row{
  height: 53px!important;
}