<mat-toolbar color="primary">
  <mat-toolbar-row>

    <button mat-icon-button (click)="openGlobalSide()">
      <mat-icon>monetization_on</mat-icon>
    </button>
    <button mat-icon-button (click)="openBalanceBottomSheet()">
      <mat-icon>account_balance</mat-icon>
    </button>

    <span class="spacer"></span>
    <div *ngIf="wallets?.length > 0">
      <mat-form-field>
        <mat-label>Selecionar Carteira</mat-label>
        <mat-select [(ngModel)]="walletSelected" (ngModelChange)="getPositionWallet()">
          <mat-option *ngFor="let item of wallets" [value]="item">
            {{item?.description}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <button mat-button (click)="openDialogWallet()">
      <mat-icon>add</mat-icon>
      Nova Carteira
    </button>
    <button mat-icon-button>
      <mat-icon>help_outline</mat-icon>

    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div style="padding: 16px;">
  <div *ngIf="loading" class="ui active inverted dimmer">
    <div class="ui large text loader">Carregando...</div>
  </div>
  <div *ngIf="walletSelected">
    Total Selic {{positionWallet?.total_selic}} <br>
    Total invested: {{positionWallet?.total_invested}} <br>
    Total NetWorth {{positionWallet?.total_networth}} <br>
    Total Dividends {{positionWallet?.total_dividends}} <br>

    <mat-tab-group animationDuration="0ms">

      <mat-tab label="Assets">
        <ng-template mat-tab-label>
          <button mat-icon-button (click)="change()">
            <!-- [routerLink]="'import/'+walletSelected"> -->
            <mat-icon *ngIf="!buttonPressed">add_circle</mat-icon>
            <mat-icon *ngIf="buttonPressed">remove_circle</mat-icon>
          </button>
          Assets
        </ng-template>
        <div *ngIf="buttonPressed; else elseBlock">
          <app-import [wallet]="walletSelected"></app-import>
        </div>
        <ng-template #elseBlock>


          <mat-toolbar color="primary">
            <mat-toolbar-row class="shadow">
              <button (click)="openDialogImport()" mat-button>Importar Carteira</button>
              <span class="spacer"></span>
              <mat-label>Colunas</mat-label>
              <mat-form-field>
                <mat-select multiple>
                  <mat-select-trigger>
                    <span>
                      s
                    </span>
                    <span>
                      sw
                    </span>
                    <span>
                      ww
                    </span>
                  </mat-select-trigger>
                  <mat-option value="topping">Ticker</mat-option>
                  <mat-option value="toppiwng">Ticker</mat-option>
                  <mat-option value="toppwing">Ticker</mat-option>
                </mat-select>
              </mat-form-field>
            </mat-toolbar-row>
          </mat-toolbar>


          <ag-grid-angular style="width: 100%; height: 500px;" class="ag-theme-alpine"
            [rowData]="positionWallet?.positions" [columnDefs]="columnDefs">
          </ag-grid-angular>
        </ng-template>
      </mat-tab>
    </mat-tab-group>

  </div>
</div>