<div *ngFor="let error of errors?.error?.non_field_errors">
    <alert type="warning" dismissible="true">{{error}} </alert>
</div>

<br>
<div *ngIf="!isLogged" class="">
    <div class="column">
        <h2>Log-in to your account</h2>

        <form (keyup.enter)="logar()" [formGroup]="form" (ngSubmit)="logar()" class="">
            <div class="ui stacked">


                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-light"> 
                          <i class="fa fa-user"></i> 
                        </span>
                    </div>
                    <input class="form-control" autofocus autocomplete="off" formControlName="username" type="text" required placeholder="Nome de usuário" aria-describedby="basic-addon3">
                </div>
                <app-campo-error [mostraError]="verificaValidTouched('username')" msgError="Campo Obrigatório Minimo 3 Caracteres">
                </app-campo-error>
                <br>

                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-light"> 
                        <i class="fa fa-lock"></i> 
                      </span>
                    </div>
                    <input autocomplete="off" formControlName="password" type="password" required class="form-control" placeholder="Senha" aria-describedby="basic-addon3">
                </div>
                <app-campo-error [mostraError]="verificaValidTouched('password')" msgError="Campo Obrigatório Minimo 3 Caracteres">
                </app-campo-error>



                <button *ngIf="loading" class="btn btn-dark mr-1" type="submit" [disabled]="loading">Carregando</button>
                <button *ngIf="!loading" class="btn btn-primary w-100 mt-2" type="submit">
                  Entrar
                </button>

            </div>
        </form>

        <div class="text-center mt-2">
            Novo para nós? <a routerLink="/auth/register">Sou Novo</a>
        </div>
    </div>
</div>




<div *ngIf="isLogged" class="ui ">
    <div class="ui active inverted dimmer">
        <div class="ui large text loader">Direcionando...</div>
    </div>
</div>