<div style="padding:16px">
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="Importar Carteira">
      <div *ngIf="loading" class="ui active inverted dimmer">
        <div class="ui large text loader">Carregando...</div>
      </div>
      <div *ngIf="wallets?.length > 0">
        <mat-form-field>
          <mat-label>Selecionar Carteira</mat-label>
          <mat-select [(ngModel)]="walletSelected">
            <mat-option *ngFor="let item of wallets" [value]="item?.id">
              {{item?.description}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <div *ngIf="walletSelected">
          <label [hidden]="loadingCsv" for="attachmentName" class="ui icon button labeled btn-file">
            <i class="file alternate outline icon"></i> Selecionar Arquivo
            <input (change)="handleCSVFileInput($event.target.files)" type="file" accept=".csv,.xls,.xlsx" id="attachmentName"
              name="attachmentName" style="display: none" />
          </label>
          <button [disabled]="loadingCsv" *ngIf="formData.get('file')" (click)="enviarCsv()"
            class="ui right labeled icon button">
            <i class="right plane icon"></i>
            Enviar
          </button>
          <div *ngIf="loadingCsv" class="ui active centered inline loader"></div>
          {{csvName}} <br>
          O arquivo pode ser um .csv .xls .xsls

        </div>
      </div>


    </mat-tab>
  </mat-tab-group>
</div>