<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Cash Flow</span>
    <span class="spacer"></span>
    <button (click)="toggle()" mat-icon-button aria-label="Example icon button with a menu icon">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>




<mat-expansion-panel class="expansion" expanded="true">
  <mat-expansion-panel-header>
    Incomes
  </mat-expansion-panel-header>

  <mat-list>
    <mat-list-item *ngFor="let item of [1,2,3,4,5,6,7,8,9,10,11,12,13,14]">
      <b> 10000,00</b>
      <div mat-line>Salario {{item}} </div>
    </mat-list-item>
  </mat-list>
  <mat-action-row>
    <button mat-icon-button color="primary">
      <mat-icon>add</mat-icon>
    </button>
  </mat-action-row>

</mat-expansion-panel>
<mat-divider></mat-divider>

<mat-expansion-panel class="expansion" expanded="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Expenses
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-list>
    <mat-list-item *ngFor="let item of [1,2,3,4,5,6,7,8,9,10,11,12,13,14]">
      <b> 340000,00</b>
      <div mat-line>Expenses {{item}} </div>
    </mat-list-item>
  </mat-list>

  <mat-action-row>
    <button mat-icon-button color="primary">
      <mat-icon>add</mat-icon>
    </button>
  </mat-action-row>
</mat-expansion-panel>

<mat-list>
  <mat-list-item>
    
    <b>R$200000,00</b>
    <div mat-line>Net Cash Flow </div>
  </mat-list-item>
  <mat-list-item>
    <b>R$205000,00</b>
    <div mat-line>Passive Income</div>
  </mat-list-item>
</mat-list>