<h1>Inicio</h1>

<mat-sidenav-container class="inner-content">
    <mat-sidenav #sidenav class="mat-sidnav-content" mode="over" align="end" opened="false" fixedInViewport="true" fixedBottomGap="0">

        <div class="inner-conten" id="botNav" mat-list-item>
            <button mat-button (click)="sidenav.toggle()">asd</button>
        </div>
    </mat-sidenav>
</mat-sidenav-container>
<button mat-fab class="quick-button menu-icon" (click)="sidenav.toggle()">
  <mat-icon>menu</mat-icon>
</button>