/* You can add global styles to this file, and also import other style files */
@import 'themes/primary.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.balance-sheet {
  min-height: 30vh;
  min-width: 100vw !important;
  margin-top: 80px;
  padding: 0px !important;
}

