/* You can add global styles to this file, and also import other style files */
@import 'themes/primary.scss';
@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";

.ag-theme-alpine {
    @include ag-theme-alpine();
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.balance-sheet {
  min-height: 250px;
  min-width: 100vw !important;
  margin-top: 80px;
  padding: 0px !important;
}

